<!DOCTYPE HTML>
<html>
  <head>
    <title>Hello World Manager! manager Title</title>
  </head>
  <body>
    <h1>Hello World Manager!</h1>
    <img src="{{ url_for('static',filename='img/logo.jpg') }}" alt="logo" width="1000px">
      <article id="results">
        <!--
        //REFRESH BEFORE PRINTING
        <section>
            <p id="resultFare" type="text"> Fare : </p> 
            <p id="resultOrigin" type="text"> Origin : </p> 
            <p id="resultDest" type="text"> Dest : </p>
        </section>
        -->
    </article>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="{{ url_for('static',filename='js/manager.js') }}"></script>
  </body>
</html>